[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
attrs = "*"
backcall = "*"
certifi = "*"
chardet = "*"
django-environ = "*"
django-extensions = "*"
django-redis = "*"
flake8 = "*"
flake8-commas = "*"
flake8-mypy = "*"
gevent = "*"
greenlet = "*"
gunicorn = "*"
idna = "*"
ipython = "*"
jedi = "*"
mccabe = "*"
mypy = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
psycopg2-binary = "*"
ptyprocess = "*"
pycodestyle = "*"
pyflakes = "*"
pytz = "*"
redis = "*"
requests = "*"
rope = "*"
simplegeneric = "*"
six = "*"
traitlets = "*"
typed-ast = "*"
urllib3 = "*"
wcwidth = "*"
djangorestframework = "*"
Django = ">=3.2"
ipython_genutils = "*"
Pillow = "*"
Pygments = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
